@charset "utf-8";
/* CSS Document */


	.ui-header .ui-title { margin-left: 1em; margin-right: 1em; }

	h1 {font-family:Tahoma, Geneva, sans-serif;} 
	h3 {color:#075d74; font-family:Arial, Helvetica, sans-serif;}
	.menu_button  {background: transparent url('../img/menu_button2.png') no-repeat right top !important; height:29px; width:44px; box-shadow:none; text-shadow:none; border:none; !important; }
	.ui-btn-inner {box-shadow:none; text-shadow:none; border:none;}

.toptitle {
font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:16px; color:#32394a; position:relative; left:63px;}

.back_button {height:27px;}

#nav {height:37px; padding-bottom:5px; width:100%; background-color:#CCC;  
border: 1px solid 		#d1d0d0 /*{border}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{b-bar-background-start}*/), to( #e0e0e0 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #ffffff /*{b-bar-background-start}*/, #e0e0e0 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #ffffff /*{b-bar-background-start}*/, #e0e0e0 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #ffffff /*{b-bar-background-start}*/, #e0e0e0/*{b-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #ffffff /*{b-bar-background-start}*/, #e0e0e0/*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #ffffff /*{b-bar-background-start}*/, #e0e0e0 /*{b-bar-background-end}*/);

}

.tabs {text-align:center;}

#about_info {clear:both; padding-top:12px; padding-bottom:19px; text-align:left; background-color:#eeeded; padding-left:15px; border-style:dotted; border-width:1px; border-radius: 10px; border-color:#c9c8c8; margin-top:5px; line-height:150% }


#table {font-family:Arial, Helvetica, sans-serif;   
padding:12px; border: 1px solid #cdd5d7; -moz-border-radius: 4px;
	border-radius: 4px;
	
	background-color: #eef0f1;
	
	
	}

.regimen_text {font-family:Arial, Helvetica, sans-serif; font-size:15px;  }

#regimen_header {color: #8f1636; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold;}

hr {border:none; text-align:left; color:#d2d8db; background-color:#d2d8db; height:1px; }	
	
#or {font-family:Arial, Helvetica, sans-serif; font-size:14px; padding:10px; }	
	
	
.about_text {float:right; text-align:left; margin-right:67px;}	


.about_icon {float:left;}

