@charset "utf-8";
/* CSS Document */


.ui-icon-thin-arrow {
     background:transparent; /* or none */
	 background-image: url("../img/thin_arrow.png") !important;/*I added the !important, I found that this rule was being overwritten*/
-moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;	

background-color: none;
    border: none;
    box-shadow: none;

	
}

.ui-icon-thin-arrow-dark {
     background:transparent; /* or none */
	 background-image: url("../img/thin_arrow_dark.png") !important;/*I added the !important, I found that this rule was being overwritten*/
-moz-border-radius: 0px;
    -webkit-border-radius:0px;
    border-radius:0px;	

background-color: none;
    border: none;
    box-shadow: none;

	
}
