@charset "utf-8";
/* CSS Document */


    
            body {
                font-family: Helvetica, Arial, sans-serif;
                font-size: 13px;
                margin: 0;
                padding: 0;
                color: #000;
            }
            
            
            
            /* ~~ this fixed width container surrounds all other elements ~~ */
            .container {
                width: 320px;
                background: #FFF;
                margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
            }
            
            .content {
                
                padding: 16px;
            }
            
            
            .intro {background: #fef5e2;
                width:270px;
                padding:8px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                -khtml-border-radius: 10px;
                border-radius: 10px;
                text-align:center;
                border-style:solid;
                border-width:1px;
                border-color:#e8d3a7;
				position:relative;
				top:21px;
            }
            
            .agreement {
                width:285px;
                padding:5px;
                padding-top:27px;
            }
			
			.eula_icon {width:48px; height:48px;}
			
			.eula_title {color:#077b9a; font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:bold; vertical-align:top; position:relative; top:13px; padding-left:7px;}
        .eula_footer {height:38px;
		
		
		}
		
		



